
.right-toolbar{
    margin-top:10px;
    margin-right:10px;
    width:350px;
}

.right-toolbar .card-body{
    padding:15px;
}

.right-toolbar .nav-tabs{
    cursor:pointer;
}

.right-toolbar .tab-content{
}

.right-toolbar h4{
    cursor: pointer;
}

.collapse-icon{
    margin-left:5px;
    display: inline-block;
}

.collapsible{
    margin-top:10px;
}